.input-range {
    margin: 3em 0 1.5em;
}

.chart {
    max-width: 1200px !important;
    margin: 0 auto !important;
}

.chart-contain {
    padding: 1em;
    /* border: 1px solid rgb(9, 9, 14); */
    border-radius: 3px;
    margin: 0.5% 0;
    background: #1c1f27;
    text-align: center;
}

.chart-balance {
    padding: 0.7em;
    border-radius: 3px;
    margin: 0.5% 0;
    background: #1c1f27;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
}

.chart-section-label {
    padding-left: 0.5em;
    text-align: left;
    font-weight: 400;
    font-size: 1.5em;
    padding: 0.5em 0.5em 0.1em;
}
.balance-increase {
    color: #0e900e;
}

.balance-decrease {
    color: #b71616;
}

.trade-item-diff {
    margin-bottom: 1em;
    color: red;
    font-size: 1.5rem;
    text-align: center;
}

.brd-left {
    border-left: 1px solid #444;
}

.green {
    color: green;
}

.red {
    color: red;
}

.bold {
    font-weight: 500;
}

.trade-item-label {
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #444;
    padding-bottom: 0.5em;
}

.trade-item {
    width: 24.5%;
    padding: 1em;
    border-radius: 3px;
    background: rgb(28, 31, 39);
}

.trade-btn {
    font-size: 0.8em;
    padding: 1em 0em;
    border-radius: 3px;
    width: 47%;
    border: 0;
    color: #eee;
    cursor: pointer;
}

.trade-btn.btn-buy:hover {
    background: #164a58;
}

.trade-btn.btn-sell:hover {
    background: #712929;
}

.btn-buy {
    background: rgb(34, 100, 117);
}

.btn-sell {
    background: rgb(148, 55, 55);
}

@media screen and (max-width: 600px) {
    .chart-row {
        display: inline !important;
    }

    .trade-item {
        width: 100%;
        margin-bottom: 0.5em;
    }
}
